/* css specifically for content on calendar page */

ast {
	color: red;
}

.calendar-form-wrapper {
	display: inline-block;
	padding-bottom: 5px;
	padding-top: 15px;
}

.calendar-box {
	margin-left: 20px;
	float: left;
	background-color: white;
	padding: 5px;
	margin-bottom: 20px;
}

.add-workout-form {
	width: 600px;
	margin-left: 20px;
	display: inline-block;
	background-color: white;
	padding: 5px;
}

.asteriskField {
	color: red;
	float: right;
}

.submit-workout-button {
	background-color: #564F6F;
}

.submit-workout-button:hover {
	background-color: #FFC107;
	border-color: #564F6F;
}

.submit-workout-button:active,
.submit-workout-button.btn:target,
.submit-workout-button.btn:active:focus {
	background-color: #FFC107;
	transform: translateY(4px);
}

.form-field {
	border-radius: 4px;
	box-shadow: none;
	margin-left: 5px;
	color: #2D283E;
}

.form-line {
	margin-bottom: 5px;
}

.schedule-workout-text {
	margin-top: -px;
	font-size: 40px;
	font-weight: bold;
	color: #2D283E;
}