/* css specifically for content on calendar page */
.calendar-form-wrapper {
	display: inline-block;
	margin-top: 5px;
}

.calendar-box {
	border: 3px solid orange;
	border-radius: 2px;
	margin-left: 20px;
}

.add-workout-form {
	height: 500px;
	width: 500px;
	margin-left: 20px;
	float: right;
}

.submit-workout-Button{
	border-radius: 12px;
	background-color: orange;
}
