/* css specifically for content on challenges page */

.background{
	height: 50%;
	width: 100%;
	margin-top: -30px;
}

.transbox {
	margin-top: -300px;
	margin-left: auto;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.transbox p{
	margin: 5%;
	color: black;
	font-size: 40px;
	text-align: center;
}

.solo-challenge-button{
	font-size: 20px;
	position: fixed;
	width: 400px;
	height: 60px;
	margin-top: 150px;
	left: 50%;
	margin-left: -200px;
}

.graph{
	position: fixed;
	left: 50%;
	margin-left: -200px;
	margin-top: 220px;
}

/* .chart {
	border-radius: 5px;
	padding-left: 10px;
	margin-left: 15px;
	width: 400px;
	height: 200px;
} */

.chart-wrapper {
	display: block;
	border-radius: 5px;
	width: 400px;
	height: 200px;
	padding-top: 20px;
	margin: auto;
}

#donutchart1 {
	width: 500px;
	height: 200px;
}

#donutchart2 {
	width: 500px;
	height: 200px;
}

details{
	width: 100%;
	margin-bottom: 40px;
}

details > summary{
	outline-style: none;
}

#soloDropDown {
	margin-top: 125px;
}

#groupDropDown {
	margin-top: 70px;
}

/*wraps form content for challenge logging*/
/*provides centered white background for visual clarity*/
.form-content{
	background-color: white;
	margin: 0 auto;
	width: 40%;
	height: 30%;
}

/*input box to enter data for challenge activities*/
/*should be centered and above submit button*/
.logNumber{
	text-align: center;
	padding-top: 30px;
}


.bSubmitLogActivity {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	color: white;
	border-radius: 3px;
}

.create-workout-button {
	background-color: #007acc;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 150px;
	border-color: #007acc;
	margin: 20px;
	margin-top: 130px;
}
.create-workout-button:hover {
	background-color: #ffcc00;
	border-color: #007acc;
}

.create-workout-button:active,
.create-workout-button.btn:target,
.create-workout-button.btn:active:focus {
	background-color: #ffcc00;
	transform: translateY(4px);
	outline-style: none;
}

.log-activity-button {
	background-color: #007acc;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 150px;
	border-color: #007acc;
	margin-top: 130px;
}
.log-activity-button:hover {
	background-color: #ffcc00;
	border-color: #007acc;
}

.log-activity-button:active,
.log-activity-button.btn:target,
.log-activity-button.btn:active:focus {
	background-color: #ffcc00;
	transform: translateY(4px);
	outline-style: none;
}


.completed-challenges {
	background-color: white;
	font-size: 16px;
	width: 400px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
	list-style-type: none
}

/* The Modal (background) */

.form-page {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 160px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}


/* Scrollbar styles */
