/* css specifically for content on challenges page */

.name-chart-s {
	position: fixed;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 30px;
}

.name-chart-r {
	position: fixed;
	font-weight: bold;
	margin-left: 450px;
	font-size: 30px;
	margin-top: 10px;
}

.past-challenges {
	position: fixed;
	font-weight: bold;
	margin-left: 875px;
	font-size: 30px;
	margin-top: 10px;
}

.horizontal-line {
	position: fixed;
	background-color: #007acc;
	margin-top: 60px;
	margin-left: 25px;
	height: 5px;
	width: 400px;
}

.horizontal-line-r {
	position: fixed;
	background-color: #007acc;
	margin-top: 60px;
	margin-left: 450px;
	height: 5px;
	width: 400px;
}

.horizontal-line-c {
	position: fixed;
	background-color: #007acc;
	margin-top: 60px;
	margin-left: 875px;
	height: 5px;
	width: 400px;
}

.chart {
	border-radius: 5px;
	padding-left: 10px;
	margin-left: 15px;
	width: 400px;
	height: 200px;
}

.chart-wrapper-steps {
	margin-left: -75px;
	float: right;
	display: block;
	position: fixed;
	margin-top: 80px;
}

.chart-wrapper-running {
	margin-left: 350px;
	float: right;
	display: block;
	position: fixed;
	margin-top: 80px;
}
/*wraps form content for challenge logging*/
/*provides centered white background for visual clarity*/
.form-content{
	background-color: white;
	margin: 0 auto;
	width: 40%;
	height: 30%;
}

/*input box to enter data for challenge activities*/
/*should be centered and above submit button*/
.logNumber{
	text-align: center;
	padding-top: 30px;
}


.bSubmitLogActivity {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	color: white;
	border-radius: 3px;
}

#bLogActivityS {
	margin: 0 auto;
	margin-top: 110px;
	margin-left: 20px;
	position: fixed;
	top: 150px;
	left: 241px;
}

#bLogActivityR {
	margin: 0 auto;
	margin-top: 110px;
	margin-left: 20px;
	position: fixed;
	top: 150px;
	left: 665px;
}

#bSoloChallenge {
	position: fixed;
	border-radius: 3px;
	color: white;
	width: 400px;
	height: 40px;
	margin-top: 350px;
	margin-left: 25px;
}

#bGroupChallenge {
	position: fixed;
	border-radius: 3px;
	color: white;
	width: 400px;
	height: 40px;
	margin-left: 450px;
	margin-top: 350px;
}

.completed-challenges {
	background-color: white;
	font-size: 16px;
	width: 400px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
	list-style-type: none
}


/* The Modal (background) */

.form-page {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 160px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}


/* Scrollbar styles */

/* ::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #007acc;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #564F6E;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */
