/* css specifically for content on friends page */
.main-content {
	display: inline-block;
}

.profile-picture{
	width: 65px;
	height: 65px;
	margin-bottom: 7px;
}

.custom-icon{
	float: right;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	display: inline-block;
}
.custom-icon-weight{
	float: right;
	width: 30px;
	height: 30px;
	margin-right: 50px;
	margin-left: 5px;
	margin-top: 15px;
}

.friend-list-item{
	border-bottom: 1px solid #007acc;
	display : relative;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
	margin-left: -5px;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	width: 400px;
	height: 85px;
}

.friends-list {
	overflow: hidden;
	list-style: none;
	margin-left: -30px;
}

.best-friends {
	height: 280px;
}

.all-friends {
	height: 250px;
	overflow-y: scroll;
}

.friends-header {
	font-weight: bold;
	margin-left: 10px;
	font-size: 25px;
}

.friends-list-wrapper {
	background-color:  #c0d5e3;
	width: 400px;
	margin-left: 15px;
	height: 650px;
	border-radius: 3px;
	padding: 10px;
	margin-top: 20px;
	float: left;
	margin-bottom: 20px;
}

.form-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 3px;
}

.logNumber {
	margin: 0 auto;
	display: flex;
}

img.profile-photo-md {
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

userIcon{
	height: 45px;
	width: 45px;
	font-size: 50px;
}

.like-bar {
	float: right;
	margin-right: 5px;
}

.like-bar:hover {
	cursor: pointer;
}


/*==================================================
  Create Post Box CSS
  ==================================================*/

.container {
	margin-left: 250px;
	margin-top: 10px;
}

.create-post {
	min-height: 90px;
	padding: 20px;
}

.create-post .form-group {
	margin-bottom: 0;
	display: inline-flex;
	width: 466px;
}

.row {
	width: 800px;
	margin-left: 205px;
	margin-top: -65px;
}

.column {
	width: 314px;
	padding-left: 12px;
}

.toolsAndButtonRow {
	width: 200px;
}

#exampleTextarea {
	margin-right: 5px;
	max-height: 104px;
	width: 300px;
}


.create-post .form-group .form-control {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	height: 45px;
}

.create-post .form-group img.profile-photo-md {
	margin-right: 10px;
	vertical-align: top;
}

.create-post .tools {
	padding: 8px 0 10px;
}

.create-post .tools ul.publishing-tools {
	display: inline-block;
	text-align: left;
	margin: 0;
	margin-right: 5px;
	margin-left: 5px;
}

.create-post .tools ul.publishing-tools li a {
	color: #6d6e71;
	font-size: 18px;
}

.create-post .tools ul.publishing-tools li a:hover {
	color: #27aae1;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.newsfeed-header {
	margin-left: 200px;
	margin-top: 25px;
	font-size: 30px;
	font-weight: bold;
}

#newsFeed {
	height: 520px;
	width: 500px;
	list-style: none;
	overflow-y: scroll;
	margin-bottom: 10px;
	margin-left: 175px;
	margin-top: -15px;
}


.newsFeedListItem {
	margin: 15px;
	padding: 5px;
	border-radius: 3px;
	border-color: #c0d5e3;
	border-width: 3px;
	min-height: 45px;
	background-color: #c0d5e3;
	font-size: 18px;
}

.news-feed-image {
	height: 458px;
	width: 458px;
	margin-left: -5px;
}

#news-feed-image-steps {
	height: 320px;
	width: 458px;
	margin-left: -5px;
}

.newsFeed-friend-name,
.newsFeed-friend-name:link,
.newsFeed-friend-name:hover,
.newsFeed-friend-name:active,
.newsFeed-friend-name:visited {
	text-decoration: none;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

/*.friend-list-item:link{
	text-decoration: none;
}
.friend-list-item:hover{
	text-decoration: none;
}
.friend-list-item:active{
	text-decoration: none;
}
.friend-list-item:visited{
	text-decoration: none;
}*/

.buttonColorChange {
	border-color: #007acc;
	background-color: #007acc;
}

.buttonColorChange:hover {
	background-color: #ffcc00;
	border-color: #007acc;
}

.buttonColorChange:active,
.buttonColorChange.btn:target,
.buttonColorChange.btn:active:focus {
	background-color: #ffcc00;
	transform: translateY(4px);
}

.friend-list-item:hover {
	background-color: #98bad1;
	border-color: #007acc;
}


/* Scrollbar styles */

/* ::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #007acc;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #007acc;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */
