/* css specifically for content on friends page */

.friends-list {
	overflow: hidden;
	list-style: none;
	margin-left: -30px;
}

.best-friends {
	height: 73px;
}

.all-friends {
	height: 400px;
	overflow-y: scroll;
}

.friends-header {
	font-weight: bold;
	margin-left: 10px;
}

.friends-list-wrapper {
	background-color: white;
	width: 200px;
	margin-left: 20px;
	height: 560px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}


/* Scrollbar styles */

::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #564F6F;
	;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #564F6E;
	;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}