/* css specifically for content on friends page */
 .main-content {
     display: flex;
     margin: 0 auto;
     margin-top: 20px;
     width: 980px;
     padding-left: 10px;
    /* background-color: #c0d5e3;
     */
}
 .profile-picture{
     width: 65px;
     height: 65px;
     margin-left: 10px;
     margin-right: 5px;
}
 .custom-icon{
     float: right;
     width: 30px;
     height: 30px;
     margin-right: 5px;
     margin-left: 5px;
     margin-top: 15px;
     display: inline-block;
}
 .custom-icon-weight{
     float: right;
     width: 30px;
     height: 30px;
     margin-right: 50px;
     margin-left: 5px;
     margin-top: 15px;
}
 .friend-list-item{
     border-bottom: 1px solid #007acc;
     padding-top: 10px;
     padding-bottom: 10px;
     text-decoration: none;
     cursor: pointer;
     font-size: 18px;
     width: 400px;
}
 .friends-list {
     overflow: hidden;
     list-style: none;
     background-color: #c0d5e3;
     border-radius: 3px;
     padding-left: 0px;
}

 .all-friends {
     height: 258px;
     overflow-y: scroll;
}
 .friends-header {
     font-weight: bold;
     font-size: 30px;
}
 .friends-list-wrapper {
    /* background-color: #c0d5e3;
     */
     width: 400px;
     margin-left: 15px;
     height: 650px;
     border-radius: 3px;
    /* margin-bottom: 20px;
     */
    /*float: left;
    */
}
 .form-content {
     background-color: #fefefe;
     padding: 20px;
     border: 1px solid #888;
     border-radius: 3px;
}
 .logNumber {
}
 img.profile-photo-md {
     height: 45px;
     width: 45px;
     border-radius: 50%;
}
 userIcon{
     height: 45px;
     width: 45px;
     font-size: 50px;
}
 .like-bar {
     float: right;
     margin-right: 5px;
}
 .like-bar:hover {
     cursor: pointer;
}
/*================================================== Create Post Box CSS ==================================================*/
 .newsfeed-wrapper {
     margin: 0px;
     float: left;
    /* background-color: #c0d5e3;
     */
     padding-right: 15px;
     padding-left: 15px;
}
 .left {
     float: left;
}
 .right {
     float: right;
}
 .create-post {
    /*min-height: 90px;
    */
     display: inline-block;
}
 .create-post .form-group {
    /*margin-bottom: 0;
    */
    /* display: inline-block;
     */
    /*width: 466px;
    */
}
 .row {
    /*width: 800px;
    */
    /*margin-left: 205px;
    */
    /*margin-top: -65px;
     */
}
 .column {
    /* padding-left: 12px;
     */
}
 .toolsAndButtonRow {
        width: 400px;
    /*width: 200px;*/
}
 #exampleTextarea {
    min-height: 45px;
    width: 315px;
}
#bPublish{
}
 .create-post .form-group .form-control {
     border: 1px solid #ccc;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     height: 45px;
}
 .create-post .form-group img.profile-photo-md {
    /*vertical-align: top;
    */
}
 .create-post .tools {
     padding: 8px 0 10px;
     float: right;
     margin-top: -61px;
     margin-right: 4px;
}
 .create-post .tools ul.publishing-tools {
     display: inline-block;
     margin-right: 5px;
     margin-left: 5px;
}
 .create-post .tools ul.publishing-tools li a {
     color: #6d6e71;
     font-size: 18px;
}
 .create-post .tools ul.publishing-tools li a:hover {
     color: #27aae1;
}
 .list-inline>li {
     display: inline-block;
     padding-right: 5px;
     padding-left: 5px;
}
 .newsfeed-header {
     font-size: 30px;
     font-weight: bold;
}
 #newsFeed {
     height: 520px;
     width: 520px;
     list-style: none;
     overflow-y: scroll;
     margin-bottom: 10px;
     background-color: #c0d5e3;
     border-radius: 3px;
     border: 10px solid #c0d5e3;
}
 .newsFeedListItem {
     padding: 5px;
     margin-bottom: 15px;
     border-radius: 3px;
     border-color: #c0d5e3;
     border-width: 3px;
     min-height: 45px;
     background-color: white;
     font-size: 18px;
}
 .news-feed-image {
     height: 430px;
     width: 500px;
     margin-left: -5px;
}
 #news-feed-image-steps {
     height: 340px;
     width: 500px;
     margin-left: -5px;
}
 .newsFeed-friend-name, .newsFeed-friend-name:link, .newsFeed-friend-name:hover, .newsFeed-friend-name:active, .newsFeed-friend-name:visited {
     text-decoration: none;
     color: black;
     font-weight: bold;
     cursor: pointer;
}
/*.friend-list-item:link{
     text-decoration: none;
}
 .friend-list-item:hover{
     text-decoration: none;
}
 .friend-list-item:active{
     text-decoration: none;
}
 .friend-list-item:visited{
     text-decoration: none;
}
*/
 .buttonColorChange {
     border-color: #007acc;
     background-color: #007acc;
}
 .buttonColorChange:hover {
     background-color: #ffcc00;
     border-color: #007acc;
}
 .buttonColorChange:active, .buttonColorChange.btn:target, .buttonColorChange.btn:active:focus {
     background-color: #ffcc00;
     transform: translateY(4px);
}
 .friend-list-item:hover {
     background-color: #98bad1;
     border-color: #007acc;
}
/* Scrollbar styles */
/*::-webkit-scrollbar {
     width: 12px;
     height: 8px;
}
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 10px #007acc;
     border-radius: 10px;
}
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: #007acc;
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
 */
