
#backButton{
  margin: 25px;
  height: 50px;
  width: 50px;
  float: left;
}

#profilePicture{
  width: 200px;
  height: 200px;
  display: inline-block;
  float: left;

}
#userName{
  font-size: 30px;
  float: left;
  display: inline-table;
  margin-left: 25px;

}

#profileOptions{
text-align: left;
display: inline-block;
margin-right: 25px;
float: right;


}

#profileContent{
margin-top: 25px;
margin-left: 25px;
}

.horizontal-line {
	background-color: #007acc;
	margin: auto;
	height: 5px;
	width: 95%;
  display: block;
  margin-top: 245px;
}
